body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.navlink {
    color: #45b29a;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.navlink:hover,
.navlink.active {
    color: #21564b;
}

.top {
    background-color: #E0EBE8;
}

.crimson-pro-h1,
.crimson-pro-para {
    font-family: "Crimson Pro", serif;
}

.crimson-pro-h1 {
    font-size: 8vw;
    font-weight: 700;
}

.crimson-pro-para {
    font-size: 4vw;
    font-weight: 400;
}

footer {
    background-color: #c5ded7;
    padding: 3em 0;
}

.footer-list {
    display: flex;
    max-width: 50vw;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

.footer-list li {
    flex: 1;
}

.footer-list a {
    text-decoration: none;
    color: #45b29a;
    font-size: 1.2em;
}

.footer-list a:hover {
    color: #1a443b;
}

footer p {
    color: #45b29a;
    font-size: 1em;
    margin: 0;
    padding-top: 2.5em;
}

@media (max-width: 575px) {
    .navlinks {
        padding-top: 20px;
        justify-content: space-around;
    }
}
img {
    width: 100%;
    max-width: 150px;
    height: auto;
    transition: transform 0.5s ease, top 0.5s ease; /* Added transition for transform and top properties */
}

/* Add hover effect to move the clouds slightly */
.left-cloud:hover, .right-cloud:hover {
    transform: translateY(-10px); /* Moves the cloud up slightly */
    /* You can also adjust the 'top' property if needed */
}

.eb-garamond-intro {
    font-family: "EB Garamond", serif;
    /* font-optical-sizing: auto; */
    font-size: 23px;
    font-weight: 100;
    font-style: normal;
  }

::selection {
    background: #D4E3DF;
}


/* -webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
--rem: 16;
-webkit-font-smoothing: antialiased;
font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #545454;
box-sizing: border-box;
height: 6px;
width: 100%;
background-image: url(/web/20180901170713im_/http://seanhalpin.io/assets/img/ui/line-bg@2x.png);
background-size: auto 6px; */


